/*----UC1----*/

/*----UC2----*/

.form-content{
    padding: 40px;
    display: flex;
    background-color: #f7f7f7;
    justify-content: center;
    align-items: center;
}
.form{
    width: 65%;
    padding: 44px 60px;
    background: #FFFFFF 0% 0% no-repeat padding-box;
    border: 1px solid #F5F5F5;
    border-radius: 8px;
    box-shadow: 0px 3px 6px #00000029;
}
.form-head{
    font: normal normal bold 28px/37px Roboto;
    color: #42515F;
    text-transform: capitalize;
    text-align: left;
    padding-bottom: 20px;
}
.row-content{
    display: flex;
    align-items: center;
}
.label{
    min-width: 150px;
    padding: 20px;
}
lable{
    padding: 12px 12px 12px 0;
    display: inline-block;
}
.text{
    margin-right: 20px;
    font: normal normal normal 18px/24px Roboto;
    color: #42515F;
    opacity: 1;
}
.input{
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    resize: vertical;
}

/*----UC3----*/

.profile-radio-content{
    display: flex;
}
.profile-radio-content > label{
    display: flex;
    align-items: center;
}
.profile{
    width: 40px;
    border-radius: 50%;
    margin-right: 20px;
}

/*----UC5----*/

select{
    padding: 12px;
    border: 1px solid#ccc;
    border-radius: 4px;
    resize: vertical;
    text-align: left;
    font: normal normal normal 18px/24px Roboto;
    color: #42515F;
    background: transparent;
}

/*----UC6----*/

.button-parent{
    display: flex;
    margin-bottom: 10px;
    justify-content: space-between;
    margin-top: 20px;
}
.button{
    font: normal normal normal 20px Roboto;
    padding: 7px;
    min-width: 140px;
    cursor: pointer;
}
.submit-button{
    margin-right: 30px;
}
#cancle-button{
    text-align: center;
    text-decoration: none;
}

/*----UC7----*/

.button-ux-design{
    border-radius: 5px;
    border: 1px solid #969696;
    background: #E2E2E2 0% 0% no-repeat padding-box;
}
.text-error, .date-error{
    margin-left: 10px;
    font-size: 12px;
    font-style: italic;
    color: red;
}